body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	justify-content:center;
	align-items: center;
	height:100vh;
}
label {
	display: block;
	margin-top: 10px;
}
input, select {
	margin-top: 5px;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}
button {
	margin-top: 15px;
	padding: 10px 15px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button:hover {
	background-color: #45a049;
}
p{
	font-family:sans-serif;
	font-weight:bolder;
	font-size:14px;
	font-weight:border;
}
form{
	width: 300px;
	padding: 32px;
	border-radius: 10px;
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif;
	letter-spacing: 1px;
}
h2{
	font-family:serif;
	font-weight:bold;
}
.flex-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.flex-container label {
	margin-left: 5px;
}